
.main {
    width: 100%;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.5em;
    text-align: right;
    margin: 0;
    padding: 20px 30px;
    color: white;
}

@media (max-width:400px) {
    h1 {
        font-size: 1.2em;
    }
}

.welcome {
    position: relative;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    flex-direction: column;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.logoTextWhite {
    position: absolute;
    top: 50px;
    height: 50px;
    left: 100px;
    margin: 0;
}

.logoTextWhite use{
    fill: #CCCCCC;
}

.logoTextWhite:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.logoTextWhite:hover use{
    fill: #FFFFFF;
}

@media (max-width: 670px){
    .logoTextWhite {
        display: none;
    }
}


.logoImage {
    position: relative;
    top: 40px;
    height: 250px;
    margin: 40px auto;
    fill:white;
}


@media (max-height: 660px) and (min-width: 590px){
    .logoImage{
        height: 200px;
    }
}

@media (max-width: 590px){
    .logoImage{
        height: 200px;
    }
}

@media (max-width: 1000px) and (min-width: 670px){
    .logoImage{
        top: 0;
    }
}

@media (max-height: 420px), (max-width: 280px){
    .logoImage{
        height: 150px;
    }
}

@media (max-height: 350px){
    .logoImage {
        display: none;
    }
}


@media (min-height: 1000px) and (min-width: 1200px){
    .logoImage{
        height: 300px;
    }

    .logoTextWhite{
        height: 60px;
    }
}

@media (min-height: 1400px) and (min-width: 1450px){
    .logoImage{
        height: 350px;
    }

    .logoTextWhite{
        height: 80px;
    }
}

@media (min-height: 1600px) and (min-width: 1900px){
    .logoImage{
        height: 500px;
    }

    .logoTextWhite{
        height: 100px;
    }
}