
.podcasts {
    width: 100%;
    padding-top: 120px;
    background-color: #E5E5E5;
}


@media (max-width: 670px) and (min-height: 900px){
    .podcasts {
        padding-top: 90px;
    }
}

@media (max-width: 670px) and (min-height: 1200px){
    .podcasts {
        padding-top: 100px;
    }
}

.logoTextBlack {
    position: absolute;
    top: 50px;
    height: 50px;
    left: 100px;
    margin: 0;
}

.logoTextBlack use{
    fill: #645D5D;
}

.logoTextBlack:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.logoTextBlack:hover use{
    fill: #111111;
}

@media (max-width: 670px){
    .logoTextBlack {
        display: none;
    }
}

.podcastsHeader {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    padding: 30px 0 0;
    margin-top: 0;
    overflow: hidden;
}

.podcastsCards {
    position: static;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin: 0;
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-transition: opacity .25s .25s,padding .25s,height .25s;
    transition: opacity .25s .25s,padding .25s,height .25s;
}

.podcastInfo{
    float: left;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    width: 80%;
    height: 350px;
    margin: 20px;
    padding: 0;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: scroll;
}

.podcastInfo .image{
    float: left;
    position: static;
    height: 350px;
    width: 350px;
    clip-path: inset(0px round 20px);
    margin: 0;
    padding: 0;
}

.podcastInfo .image img{
    height: 350px;
}

.podcastInfo .text{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0 30px 0  20px;
    border-radius: 20px;
}

.podcastInfo .text .name{
    float: left;
    position: relative;
    height: auto;
    top: 10%;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 21px;
    color: #000000;
    white-space: nowrap;
}

.podcastInfo .text .description{
    float: left;
    position: relative;
    height: auto;
    top: 23%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.podcastInfo .text .afterWrap{
    top: 90px;
}

.podcastInfo .text .refs{
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 18%;
    height: auto;
    width: 100%;
    margin-left: -5px;
    color: #000000;
}

.link{
    padding: 8px 14px 6px 14px;
    height: auto;
    width: auto;
    color: #111111;
    text-decoration: none;
    background: #e8e8e8;
    border-radius: 25px;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.link:hover {
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
    color: #606060;
    background: #f3f3f3;
}


/*.podcastInfo .brief {
    float: left;
    position: absolute;
    height: auto;
    top: 51px;
    left: 152px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    color: #645D5D;

}*/

@media screen and (max-width: 1100px) and (min-width: 670px){
    .podcastInfo{
        height: 300px;
    }

    .podcastInfo .image{
        height: 200px;
        width: 200px;
        margin-left: 10px;
        margin-top: 10px;
        padding: 0;
        float: left;
    }

    .podcastInfo .image img{
        height: 200px;
    }

    .podcastInfo .text .name{
        top: 5%;
        font-size: 27px;
        line-height: 19px;
    }

    .podcastInfo .text .description{
        top: 18%;
        font-size: 20px;
        line-height: 25px;
    }

    .podcastInfo .text .refs{
        top: 13%;
        margin-left: -5px;
    }

    .link{
        padding: 8px 14px 6px 14px;
        border-radius: 25px;
        font-size: 15px;
        line-height: 20px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}


@media screen and (max-width: 670px) and (min-width: 530px){
    .podcasts {
        padding-top: 80px;
    }

    .podcastsHeader{
        margin-bottom: 20px;
    }

    .podcastInfo{
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .podcastInfo .image{
        position: center;
        clip-path: inset(0px round 20px);
        height: 400px;
        width: 400px;
        padding: 0;
    }

    .podcastInfo .image img{
        height: 400px;
    }

    .podcastInfo .text{
        margin-top: 30px;
    }

    .podcastInfo .text .name{
        top:0;
        font-size: 27px;
        line-height: 19px;
    }

    .podcastInfo .text .description{
        margin-top: 20px;
        top:0;
        font-size: 20px;
        line-height: 25px;
    }

    .podcastInfo .text .refs{
        top:0;
        margin-left: -5px;
        margin-top: 20px;
    }

    .link{
        padding: 8px 14px 6px 14px;
        border-radius: 25px;
        font-size: 15px;
        line-height: 20px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 530px) and (min-width: 470px){
    .podcasts {
        padding-top: 80px;
    }

    .podcastsHeader{
        margin-bottom: 20px;
    }

    .podcastInfo{
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .podcastInfo .image{
        position: center;
        clip-path: inset(0px round 20px);
        height: 350px;
        width: 350px;
        padding: 0;
    }

    .podcastInfo .image img{
        height: 350px;
    }

    .podcastInfo .text{
        margin-top: 30px;
    }

    .podcastInfo .text .name{
        top:0;
        font-size: 27px;
        line-height: 19px;
    }

    .podcastInfo .text .description{
        margin-top: 20px;
        top:0;
        font-size: 20px;
        line-height: 25px;
    }

    .podcastInfo .text .refs{
        top:0;
        margin-left: -5px;
        margin-top: 20px;
    }

    .link {
        padding: 8px 14px 6px 14px;
        border-radius: 25px;
        font-size: 15px;
        line-height: 20px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 470px) and (min-width: 390px) {

    .podcasts {
        padding-top: 80px;
    }

    .podcastsHeader{
        margin-bottom: 20px;
    }

    .podcastInfo{
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .podcastInfo .image{
        position: center;
        clip-path: inset(0px round 20px);
        height: 300px;
        width: 300px;
        padding: 0;
    }

    .podcastInfo .image img{
        height: 300px;
    }

    .podcastInfo .text{
        margin-top: 30px;
    }

    .podcastInfo .text .name{
        top:0;
        font-size: 27px;
        line-height: 19px;
    }

    .podcastInfo .text .description{
        margin-top: 20px;
        top:0;
        font-size: 20px;
        line-height: 25px;
    }

    .podcastInfo .text .refs{
        top:0;
        margin-left: -5px;
        margin-top: 20px;
    }

    .link {
        padding: 8px 14px 6px 14px;
        border-radius: 25px;
        font-size: 15px;
        line-height: 20px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

@media  (max-width: 460px) {
    .podcastsHeader {
        font-size: 2em;
    }

    .podcasts {
        padding-top: 60px;
    }

    .podcastsHeader{
        margin-bottom: 10px;
    }

    .podcastInfo {
        padding-top: 20px;
    }

}

@media  (max-width: 390px) {

    .podcastInfo{
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .podcastInfo .image{
        position: center;
        clip-path: inset(0px round 20px);
        height: 150px;
        width: 150px;
        padding: 0;
    }

    .podcastInfo .image img{
        height: 150px;
    }

    .podcastInfo .text{
        margin-top: 30px;
    }

    .podcastInfo .text .name{
        top:0;
        font-size: 21px;
        line-height: 19px;
    }

    .podcastInfo .text .description{
        margin-top: 20px;
        top:0;
        font-size: 16px;
        line-height: 19px;
    }

    .podcastInfo .text .refs{
        top:0;
        margin-left: -5px;
        margin-top: 20px;
    }

    .link {
        padding: 8px 14px 6px 14px;
        border-radius: 25px;
        font-size: 14px;
        line-height: 17px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

}


@media (min-height: 1000px) and (min-width: 1200px){

    .logoTextBlack{
        height: 60px;
    }
}

@media (min-height: 1400px) and (min-width: 1450px){

    .logoTextBlack{
        height: 80px;
    }
}

@media (min-height: 1600px) and (min-width: 1900px){

    .logoTextBlack{
        height: 100px;
    }
}