.sideNav {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;
    background-color: #E5E5E5;
    -webkit-transition: .5s;
    transition: .5s;
}

.button {
    display: flex;
    align-items: center;
    padding: 0;
    text-decoration: none;
    color: #818181;
    -webkit-transition: .3s;
    transition: .3s;
}

.button svg {
    height: 40px;
}

.button svg * {
    fill: #717171;
}

.button:hover svg *{
    fill: #111;
}

@media (min-width: 671px){
    .sideNav {
        display: none;
    }
}

@media (min-height: 900px){
    .sideNav{
        height: 80px;
    }

    .button svg {
        height: 50px;
    }
}

@media (min-height: 1200px){
    .sideNav{
        height: 90px;
    }

    .button svg {
        height: 60px;
    }
}

