.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: .5s;
    transition: .5s;
    white-space: nowrap;
}

.sideNav.open {
    width: 110px;
    right: 0;
}

.button {
    padding: 8px 25px 8px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: right;
    width: 50px;
    height: 50px;
}

.button img {
    height: 50px;
    background-color: white;
}

.button svg {
    height: 50px;
}

.button svg * {
    fill: darkgrey;
}

.button svg .vkColor1 {
    fill: #5181b8;
}

.button svg .vkColor2 {
    fill: white;
}

.text {
    padding: 10px 8px 10px 8px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
    color: white;
    /*transition: none;*/
    /*-webkit-transition: none;*/
}

.text:hover {
    color: #f1f1f1;
}

@media screen and (max-height:450px) {
    .sideNav {
        padding-top: 15px;
    }

    .button {
        font-size: 18px;
    }
}

@media (min-height: 500px) and (min-width: 590px){
    .sideNav {
        display: none;
    }
}