.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: .5s;
    transition: .5s;
    white-space: nowrap;
}

.sideNav.open {
    width: 100px;
    right: 0;
}

.sideNav a {
    padding: 8px 25px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: right;
    width: 67px;
}

.sideNav a:nth-child(1) {
    margin-top: 80px;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav a img {
    height: 50px;
}

.sideNav a svg {
    height: 50px;
}

.sideNav a svg * {
    fill: darkgrey;
}

.sideNav a svg .vkColor1 {
    fill: #5181b8;
}

.sideNav a svg .vkColor2 {
    fill: white;
}

@media screen and (max-height:450px) {
    .sideNav {
        padding-top: 15px;
    }

    .sideNav a {
        font-size: 18px;
    }
}