.socButtons{
    position: absolute;
    top: 55px;
    right: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.socButtons a {
    position: relative;
    height: auto;
    margin-left: 40px;
    cursor: pointer;
    /*padding: 8px 25px 8px 8px;*/
    text-decoration: none;
    font-size: 25px;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
}

.socButtons a .socialIcon {
    height: 40px;
}

.socButtons.white a .socialIcon use {
    fill: #CCCCCC;
    /*fill: #645D5D;*/
}
.socButtons.black a .socialIcon use {
    fill: #645D5D;
}

.socButtons a:hover .socialIcon{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.socButtons.white a:hover .socialIcon use {
    fill: #FFFFFF;
}
.socButtons.black a:hover .socialIcon use {
    fill: #111111;
}

@media screen and (max-width: 1000px){
    .socButtons{
        margin-left: auto;
        margin-right: auto;
        bottom: 50px;
        top: unset;
        right: unset;
    }
    .socButtons.black{
        display: none;
    }
}

@media screen and (max-height: 660px){
    .socButtons a {
        margin-left: 30px;
    }

    .socButtons a .socialIcon {
        height: 30px;
    }
}

@media (max-width: 670px){
    .socButtons {
        display: none;
    }
}

@media (min-height: 1000px) and (min-width: 1200px){
    .socButtons a {
        margin-left: 40px;
    }

    .socButtons a .socialIcon{
        height: 50px;
    }
}

@media (min-height: 1400px) and (min-width: 1450px){
    .socButtons a {
        margin-left: 60px;
    }

    .socButtons a .socialIcon{
        height: 60px;
    }
}

@media (min-height: 1600px) and (min-width: 1900px){
    .socButtons a {
        margin-left: 80px;
    }

    .socButtons a .socialIcon{
        height: 80px;
    }
}
